# Kunskapskontroll

### Fyll i uppgifterna nedan innan du lämnar in på LearnPoint: 
Namn på samtliga gruppmedlemmar:

Asami, Guy, Mustafa,  Pawel, Vidar

# Code

### Förbered data

Konvertera ocean_proximity med ordinal encoding (1-4), ta bort ISLAND

Ta bort > 500,000 från kolumnen median_house_value

Ta bort > 51 från kolumnen median_house_age

Fyll tomma värden med medelvärde/median i kolumnen total_bedrooms

Dela datan i train- och test-set

Ta bort/kombinera viss kolumner till nya värden?

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder

In [27]:
housing = pd.read_csv('data/housing.csv')
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [28]:
# Filter the data and assign it to a new DataFrame
filtered_housing = housing[(housing['median_house_value'] <= 500000) & (housing['housing_median_age'] <= 51) & (housing['ocean_proximity'] != 'ISLAND')].copy()


print("Old Housing Data:")
housing.info()
print("\nNew Filtered Housing Data:")
filtered_housing.info()

Old Housing Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

New Filtered Housing Data:
<class 'pandas.core.frame.DataFrame'>
Index: 18570 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           18570 non-null  float64
 1   latitude            18570 non-null  float64
 2   housing_median_age  18570 non-null  float64
 3   total_rooms         18570 non-null  float64
 4   total_bedrooms      18377 non-null  float64
 5   population          18570 non-null  float64
 6   households          18570 non-null  float64
 7   median_income       18570 non-null  float64
 8   median_house_value  18570 non-null  float64
 9   ocean_proximity     18570 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [29]:
category_mapping = {'INLAND': 0, '<1H OCEAN': 1, 'NEAR OCEAN': 2, 'NEAR BAY': 3}
categories = list(category_mapping.keys())
encoder = OrdinalEncoder(categories=[categories])
filtered_housing['ocean_proximity_encoded'] = encoder.fit_transform(filtered_housing[['ocean_proximity']])
print(filtered_housing)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
8        -122.26     37.84                42.0       2555.0           665.0
15       -122.26     37.85                50.0       1120.0           283.0
18       -122.26     37.84                50.0       2239.0           455.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
8          1206.0       595.0         2.0804            226700.0
15          697.0       264.0         2.1250            140000.0
18          990.0       419.0         1.9911            158700.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity  ocean_proximity_encoded
0            NEAR BAY                      3.0
1            NEAR BAY                      3.0
8            NEAR BAY                      3.0
15           NEAR BAY                      3.0
18           NEAR BAY                      3.0
...               ...                      ...
20635          INLAND                      0.0
20636          INLAND                      0.0
20637          INLAND                      0.0
20638          INLAND                      0.0
20639          INLAND                      0.0

[18570 rows x 11 columns]

In [30]:
# Define your mapping as a dictionary
order_mapping = {
    '<1H OCEAN': 1,
    'NEAR BAY': 3,
    'NEAR OCEAN': 2,
    'INLAND': 0,
    'ISLAND': 4
}

# Apply the mapping to your column
filtered_housing['ocean_proximity_ranked'] = filtered_housing['ocean_proximity'].map(order_mapping)
# Convert the 'ocean_proximity_ranked' column to float
filtered_housing['ocean_proximity_ranked'] = filtered_housing['ocean_proximity_ranked'].astype(float)


print("\nNew Filtered Housing Data:")
filtered_housing.info()

New Filtered Housing Data:
<class 'pandas.core.frame.DataFrame'>
Index: 18570 entries, 0 to 20639
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   longitude                18570 non-null  float64
 1   latitude                 18570 non-null  float64
 2   housing_median_age       18570 non-null  float64
 3   total_rooms              18570 non-null  float64
 4   total_bedrooms           18377 non-null  float64
 5   population               18570 non-null  float64
 6   households               18570 non-null  float64
 7   median_income            18570 non-null  float64
 8   median_house_value       18570 non-null  float64
 9   ocean_proximity          18570 non-null  object
 10  ocean_proximity_encoded  18570 non-null  float64
 11  ocean_proximity_ranked   18570 non-null  float64
dtypes: float64(11), object(1)
memory usage: 1.8+ MB

In [31]:
X = housing.drop(['median_house_value'], axis=1)
y = housing['median_house_value']

In [32]:
# mean_total_bedrooms = housing.total_bedrooms.mean()
# print("mean_total_bedrooms = ", mean_total_bedrooms)
# median_total_bedrooms = housing.total_bedrooms.median()
# print("median_total_bedrooms = ", median_total_bedrooms)
# mean_total_bedrooms = housing.total_bedrooms.min()
# print("minimum_total_bedrooms = ", mean_total_bedrooms)
# mean_total_bedrooms = housing.total_bedrooms.max()
# print("maximum_total_bedrooms = ", mean_total_bedrooms)
mean_house_value_categories = housing.groupby('ocean_proximity').median_house_value.mean()
print("mean_house_value_categories by", mean_house_value_categories)
print("\n")
median_house_value_categories = housing.groupby('ocean_proximity').median_house_value.median()
print("median_house_value_categories by", median_house_value_categories)

mean_house_value_categories by ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64


median_house_value_categories by ocean_proximity
<1H OCEAN     214850.0
INLAND        108500.0
ISLAND        414700.0
NEAR BAY      233800.0
NEAR OCEAN    229450.0
Name: median_house_value, dtype: float64

In [33]:
# Calculate the mean of the 'total_bedrooms' column
mean_total_bedrooms = housing['total_bedrooms'].mean()

# Fill the missing values with the mean
housing['total_bedrooms'].fillna(mean_total_bedrooms, inplace=True)

In [34]:
X['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

## EDA

KeyError: 'ocean_proximity_encoded'